---
---

html
    height: 100%
    body
        --color: #2196f3
        --light: #6ec6ff
        --dark: #0069c0
        height: 100%
        width: 100%
        margin: 0

    .window
        border-radius: 8px
        background-color: #F2F2F2
        border: solid 1px #B0B0B0
        position: absolute
        box-shadow: rgba(26, 26, 26, 0.16) 0px 0px 16px 8px
        &.size_max
            border: none
            border-radius: 0
            .title_zone
                border-radius: 0
                .btn
                    div
                        &:last-child
                            &:hover
                                border-radius: 0
        .frame
            border-radius: 0 0 8px 8px
            width: 943px
            height: 634px
            display: grid
            user-select: none
        &.noactive
            box-shadow: rgba(26, 26, 26, 0.13) 0px 0px 16px 4px
            .title_zone
                .title
                    color: #BDBDBD
                .btn
                    div
                        &:hover
                            background-color: #BDBDBD
                        color: #929292
                

        &.size_max
            height: calc(100% - 2px)
            top: 0 !important
            left: 0 !important
            width: calc(100% - 2px)
            .btn
                .btn_m
                    display: none
                .btn_mr
                    display: inline-block !important

        .title_zone
            display: grid
            grid-template-columns: 1fr auto
            border-radius: 8px 8px 0 0
        
            height: 30px
            font-family: Meiryo UI
            font-size: 0
            border-bottom: solid 1px transparent
            user-select: none
            .title-without-button
                .icon
                    width: 26px
                    height: 26px
                    display: inline-block
                    margin: 2px
                .title
                    line-height: 30px
                    font-size: 14px
                    display: inline-block
                    vertical-align: top
            .btn
                display: inline-block
                margin-left: auto
                div
                    width: 45px
                    height: 30px
                    display: inline-block
                    font-size: 10px
                    vertical-align: top
                    text-align: center
                    line-height: 30px
                    font-family: Segoe MDL2 Assets
                    color: #000000
                    &:hover
                        background-color: #E9E9E9
                        color: #000000
                    &:last-child
                        &:hover
                            border-radius: 0 7px 0 0
                .btn_l
                    display: none
                .btn_mr
                    display: none
                .btn_r
                    &:hover
                        background-color: #C42B1C !important
                        color: #FFFFFF
        .frame
            resize: both
            overflow: auto
                    
@media (prefers-color-scheme: dark)
    html
        body
            background-color: #000000
            --color: #2196f3
            --light: #6ec6ff
            --dark: #0069c0

        .window
            color: #FFFFFF
            background-color: #202020
            border: solid 1px #3C3C3C
            box-shadow: rgba(26, 26, 26, 0.16) 0px 0px 16px 8px
            &.noactive
                box-shadow: rgba(26, 26, 26, 0.13) 0px 0px 16px 4px
                .title_zone
                    .title-without-button
                        .title
                            color: #797979
                    .btn
                        div
                            &:hover
                                background-color: #2D2D2D
                            color: #797979
            .title_zone
                .title-without-button
                    .title
                        color: #FFFFFF
                .btn
                    div
                        color: #FFFFFF
                        &:hover
                            background-color: #2D2D2D
                            color: #FFFFFF
