<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<title>{{ page.title }}</title>
<!-- <link href="{{ "/assets/css/hilight.css" | relative_url }}" rel="stylesheet"> -->
<script type="text/x-mathjax-config">
    MathJax.Hub.Config({
        TeX: {  extensions: ["cancel.js", "mhchem.js"] },
        tex2jax: { inlineMath: [ ['$','$'] ], processEscapes: true }
    });
</script>
<script type="text/javascript" async src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.2/MathJax.js?config=TeX-MML-AM_CHTML&locale=ja"></script>
<script src="jquery-3.4.1.min.js"></script>
<meta name="theme-color" content="dodgerblue">
<meta http-equiv="content-language" content="ja">

<link href="./assets/css/header.css" rel="stylesheet">
<link href="./assets/css/link.css" rel="stylesheet">
<link href="./assets/css/font.css" rel="stylesheet">
<link href="./assets/css/table.css" rel="stylesheet">
<link href="./assets/css/pagesize.css" rel="stylesheet">
<link href="./assets/css/image.css" rel="stylesheet">
<link href="./assets/css/highlight.css" rel="stylesheet">
<link href="./assets/css/button.css" rel="stylesheet">